*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('../images/Orange\ Professional\ Gradients\ Online\ Banking\ Finance\ LinkedIn\ Single\ Image\ Ad.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.card .form-control{
    box-shadow: 0px 3px 6px #6D6875 ;

}
.card button{
    background-color: #E5989B;
    border: 1px solid #6D6875;
    box-shadow: 0px 3px 6px #6D6875 ;
    color: white;
    width: 200px;
    margin: 10px 0px;
}

.card .card-title{
    color: white;
}

.card{
    font-family: Comfortaa;
}

.text-warning1{
    color: #FFCDB2;
}